@import "../index.css";

#barra-cont {
  margin: 0;
  padding: 0;
}

#nav-bar {
  background-color: var(--gold-claro);
  padding: 0;
}

#logo {
  margin: 1rem 0 1rem 1rem;
}

#menu-icon {
  margin: 0;
  padding: 0;
}

#menu-icon span{
  text-decoration: none;
  border: 0;
}

#menu-icon:focus {
  outline: none;
  box-shadow: none;
}